header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background: url("../images/pattern.jpeg") no-repeat scroll center;
    background-size: cover;
}

header h1 {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.price {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}